.image_border {
	border: 1px solid #CCC;
}
body {

}
body a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
table {
    border-collapse:collapse;
}
.container {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	-moz-box-shadow: 1px 1px 6px #000000;
	-webkit-box-shadow: 1px 1px 6px #000000;
	box-shadow: 1px 1px 6px #000000;
	overflow: hidden;
	line-height: 20px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}

.header {
	height: 150px;
	width: 900px;
	background-image: url(images/header.jpg);
	background-repeat: no-repeat;
	position: relative;
}
.content {
	float: left;
	background-image: url(../images/header_bottom_line.jpg);
	background-repeat: repeat-x;
}

.menu {
	width: 200px;
	float: left;
	height: 600px;
	margin-top: 2px;
}
.right {
	float: left;
	width: 670px;
	padding-right: 20px;
	padding-left: 10px;
	min-height: 600px;
	padding-top: 10px;
}
.right li {
	margin-left: -20px;
}

.right ol {
	margin-left: 10px;
}
.footer {
	clear: both;
	width: 900px;
	height: 100px;
}
.title1 {
	font-size: 20px;
	font-weight: bold;
	color: #304474;
	height: 30px;
	padding-top: 7px;
	margin-bottom: 20px;
	background-image: url(../images/title.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	font-family: Arial, "黑体";
}
.image_left {
	padding: 0px;
	float: left;
	margin-right: 20px;
	margin-bottom: 0px;
	text-align: center;
}
.image_right {
	padding: 0px;
	float: right;
	margin-bottom: 5px;
	text-align: center;
	margin-left: 20px;
	margin-right: 10px;
}


a:link {
	text-decoration: none;
	color: #0033CC;
}

a:visited {
	text-decoration: none;
	color: #0033CC;
}
a:hover {
	text-decoration: underline;
	color: #0033CC;
}
h3 {
	color: #004891;
	font-family: Verdana, Geneva, sans-serif;
}
h2 {
	color: #003162;
	font-family: Arial,"黑体";
}
