@charset "utf-8";
.tab_menu {
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d0dee5;
	height: 29px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d3dbde;
	width: 650px;
}
.tab_menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.tab_menu li {
	float: left;
	margin: 0px;
	padding: 0px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d3dbde;
	background-image: url(../images/tab_bg.png);
	background-repeat: repeat-x;
}
.tab_menu li a {
	padding-right: 15px;
	padding-left: 15px;
	color: #000;
	display: block;
	text-decoration: none;
}
.tab_menu li a:hover {
	text-decoration: none;
	color: #2671CC;
}
.tab_menu li a.selected {
	font-weight: bold;
	line-height: 30px;
	background-image: url(../images/tab_bg_select.png);
	background-repeat: repeat-x;
}
